.Sidebarrrr {
    background-color: rgb(228, 20, 255);
    left: 0%;
    bottom: 0%;
    height: 100%;
    width: auto;
    position: fixed;
    overflow-wrap: break-word;
}

.mainbody {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-color: lightblue;
    margin-left: 10%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.banner {
    text-align: center;
    background-color: yellow;
}

.button_parrot {
    background-color: chocolate;
}

.footerman {
    bottom: 0;
    height: 100px;
    padding-top: 40px;
    text-align: center;
    background-color: rgb(0, 241, 72);
}

.image_titre {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h3 {
    color: rgb(146, 22, 22);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.laform {
    width: fit-content;
    height: 50%;
    text-align: center;
    padding: 10%;
    background-color: brown;
}


/* #grille {
    border: 1px solid black;
} */